extends ../layout
block content
	// Content Header (Page header)
	section.content-header
		h1
			| Flot Charts
			small preview sample
		ol.breadcrumb
			li
				a(href='#')
					i.fa.fa-dashboard
					| Home
			li.active Blank page
	// Main content
	section.content
		// row
		.row
			.col-xs-12
				// jQuery Knob
				.box.box-solid
					.box-header
						i.fa.fa-bar-chart-o
						h3.box-title jQuery Knob
						.box-tools.pull-right
							button.btn.btn-default.btn-sm(data-widget='collapse')
								i.fa.fa-minus
							button.btn.btn-default.btn-sm(data-widget='remove')
								i.fa.fa-times
					// /.box-header
					.box-body
						.row
							.col-md-3.col-sm-6.col-xs-6.text-center
								input.knob(type='text', value='30', data-width='90', data-height='90', data-fgcolor='#3c8dbc')
								.knob-label New Visitors
							// ./col
							.col-md-3.col-sm-6.col-xs-6.text-center
								input.knob(type='text', value='70', data-width='90', data-height='90', data-fgcolor='#f56954')
								.knob-label Bounce Rate
							// ./col
							.col-md-3.col-sm-6.col-xs-6.text-center
								input.knob(type='text', value='-80', data-min='-150', data-max='150', data-width='90', data-height='90', data-fgcolor='#00a65a')
								.knob-label Server Load
							// ./col
							.col-md-3.col-sm-6.col-xs-6.text-center
								input.knob(type='text', value='40', data-width='90', data-height='90', data-fgcolor='#00c0ef')
								.knob-label Disk Space
							// ./col
						// /.row
						.row
							.col-xs-6.text-center
								input.knob(type='text', value='90', data-width='90', data-height='90', data-fgcolor='#932ab6')
								.knob-label Bandwidth
							// ./col
							.col-xs-6.text-center
								input.knob(type='text', value='50', data-width='90', data-height='90', data-fgcolor='#39CCCC')
								.knob-label CPU
							// ./col
						// /.row
					// /.box-body
				// /.box
			// /.col
		// /.row
		.row
			.col-xs-12
				.box.box-solid
					.box-header
						i.fa.fa-bar-chart-o
						h3.box-title jQuery Knob Different Sizes
						.box-tools.pull-right
							button.btn.btn-default.btn-sm(data-widget='collapse')
								i.fa.fa-minus
							button.btn.btn-default.btn-sm(data-widget='remove')
								i.fa.fa-times
					// /.box-header
					.box-body
						.row
							.col-md-3.col-sm-6.col-xs-6.text-center
								input.knob(type='text', value='30', data-width='90', data-height='90', data-fgcolor='#3c8dbc', data-readonly='true')
								.knob-label data-width=&quot;90&quot;
							// ./col
							.col-md-3.col-sm-6.col-xs-6.text-center
								input.knob(type='text', value='30', data-width='120', data-height='120', data-fgcolor='#f56954')
								.knob-label data-width=&quot;120&quot;
							// ./col
							.col-md-3.col-sm-6.col-xs-6.text-center
								input.knob(type='text', value='30', data-thickness='0.1', data-width='90', data-height='90', data-fgcolor='#00a65a')
								.knob-label data-thickness=&quot;0.1&quot;
							// ./col
							.col-md-3.col-sm-6.col-xs-6.text-center
								input.knob(type='text', data-thickness='0.2', data-anglearc='250', data-angleoffset='-125', value='30', data-width='120', data-height='120', data-fgcolor='#00c0ef')
								.knob-label data-angleArc=&quot;250&quot;
							// ./col
						// /.row
					// /.box-body
				// /.box
			// /.col
		// /.row
		.row
			.col-xs-12
				.box.box-solid
					.box-header
						i.fa.fa-bar-chart-o
						h3.box-title jQuery Knob Tron Style
						.box-tools.pull-right
							button.btn.btn-default.btn-sm(data-widget='collapse')
								i.fa.fa-minus
							button.btn.btn-default.btn-sm(data-widget='remove')
								i.fa.fa-times
					// /.box-header
					.box-body
						.row
							.col-md-3.col-sm-6.col-xs-6.text-center
								input.knob(type='text', value='80', data-skin='tron', data-thickness='0.2', data-width='90', data-height='90', data-fgcolor='#3c8dbc', data-readonly='true')
								.knob-label data-width=&quot;90&quot;
							// ./col
							.col-md-3.col-sm-6.col-xs-6.text-center
								input.knob(type='text', value='60', data-skin='tron', data-thickness='0.2', data-width='120', data-height='120', data-fgcolor='#f56954')
								.knob-label data-width=&quot;120&quot;
							// ./col
							.col-md-3.col-sm-6.col-xs-6.text-center
								input.knob(type='text', value='10', data-skin='tron', data-thickness='0.1', data-width='90', data-height='90', data-fgcolor='#00a65a')
								.knob-label data-thickness=&quot;0.1&quot;
							// ./col
							.col-md-3.col-sm-6.col-xs-6.text-center
								input.knob(type='text', value='100', data-skin='tron', data-thickness='0.2', data-anglearc='250', data-angleoffset='-125', data-width='120', data-height='120', data-fgcolor='#00c0ef')
								.knob-label data-angleArc=&quot;250&quot;
							// ./col
						// /.row
					// /.box-body
				// /.box
			// /.col
		// /.row
		// callout
		.callout.callout-info
			h4 The following was created using data tags
			p
				| The following three inline (sparkline) chart have been initialized to read and interpret data tags
		// /.callout
		.row
			.col-md-4
				.box.box-solid
					.box-header
						h3.box-title.text-danger Sparkline Pie
						.box-tools.pull-right
							button.btn.btn-default.btn-sm
								i.fa.fa-refresh
					// /.box-header
					.box-body.text-center
						.sparkline(data-type='pie', data-offset='90', data-width='100px', data-height='100px')
							| 6,4,8
					// /.box-body
				// /.box
			// /.col
			.col-md-4
				.box.box-solid
					.box-header
						h3.box-title.text-blue Sparkline line
						.box-tools.pull-right
							button.btn.btn-default.btn-sm
								i.fa.fa-refresh
					// /.box-header
					.box-body.text-center
						.sparkline(data-type='line', data-spot-radius='3', data-highlight-spot-color='#f39c12', data-highlight-line-color='#222', data-min-spot-color='#f56954', data-max-spot-color='#00a65a', data-spot-color='#39CCCC', data-offset='90', data-width='100%', data-height='100px', data-line-width='2', data-line-color='#39CCCC', data-fill-color='rgba(57, 204, 204, 0.08)')
							| 6,4,7,8,4,3,2,2,5,6,7,4,1,5,7,9,9,8,7,6
					// /.box-body
				// /.box
			// /.col
			.col-md-4
				.box.box-solid
					.box-header
						h3.box-title.text-warning Sparkline Bar
						.box-tools.pull-right
							button.btn.btn-default.btn-sm
								i.fa.fa-refresh
					// /.box-header
					.box-body.text-center
						.sparkline(data-type='bar', data-width='97%', data-height='100px', data-bar-width='14', data-bar-spacing='7', data-bar-color='#f39c12')
							| 6,4,8, 9, 10, 5, 13, 18, 21, 7, 9
					// /.box-body
				// /.box
			// /.col
		// /.row
		.row
			.col-xs-12
				.box.box-solid
					.box-header
						h3.box-title Sparkline examples
						.box-tools.pull-right
							button.btn.btn-default.btn-sm(data-widget='collapse')
								i.fa.fa-minus
							button.btn.btn-default.btn-sm(data-widget='remove')
								i.fa.fa-times
					// /.box-header
					#myBody.box-body
						.row
							.col-sm-6
								p
									| Mouse speed
									span#mousespeed Loading..
								p
									| Inline
									span.sparkline-1 10,8,9,3,5,8,5
									| line graphs
									span.sparkline-1 8,4,0,0,0,0,1,4,4,10,10,10,10,0,0,0,4,6,5,9,10
								p
									| Bar charts
									span.sparkbar 10,8,9,3,5,8,5
									| negative values:
									span.sparkbar -3,1,2,0,3,-1
									| stacked:
									span.sparkbar 0:2,2:4,4:2,4:1
								p
									| Composite inline
									span#compositeline 8,4,0,0,0,0,1,4,4,10,10,10,10,0,0,0,4,6,5,9,10
								p
									| Inline with normal range
									span#normalline 8,4,0,0,0,0,1,4,4,10,10,10,10,0,0,0,4,6,5,9,10
								p
									| Composite bar
									span#compositebar 4,6,7,7,4,3,2,1,4
								p
									| Discrete
									span.discrete1 4,6,7,7,4,3,2,1,4,4,5,6,7,6,6,2,4,5
									br
									| Discrete with threshold
									span#discrete2 4,6,7,7,4,3,2,1,4
								p
									| Bullet charts
									br
									span.sparkbullet 10,12,12,9,7
									br
									span.sparkbullet 14,12,12,9,7
									br
									span.sparkbullet 10,12,14,9,7
									br
							// /.col
							.col-sm-6
								p
									| Customize size and colours
									span#linecustom 10,8,9,3,5,8,5,7
								p
									| Tristate charts
									span.sparktristate 1,1,0,1,-1,-1,1,-1,0,0,1,1
									br
									| (think games won, lost or drawn)
								p
									| Tristate chart using a colour map:
									span.sparktristatecols 1,2,0,2,-1,-2,1,-2,0,0,1,1
								p
									| Box Plot:
									span.sparkboxplot 4,27,34,52,54,59,61,68,78,82,85,87,91,93,100
									br
									| Pre-computed box plot
									span.sparkboxplotraw Loading..
								p
									| Pie charts
									span.sparkpie 1,1,2
									span.sparkpie 1,5
									span.sparkpie 20,50,80
							// /.col
						// /.row
					// /.box-body
				// /.box
			// /.col
		// /.row
	// /.content

block javascript
	// jQuery 2.0.2
	script(src='/js/libs/jquery.min.js')
	// Bootstrap
	script(src='/js/bootstrap.min.js', type='text/javascript')
	// AdminLTE App
	script(src='/js/AdminLTE/app.js', type='text/javascript')
	// AdminLTE for demo purposes
	script(src='/js/AdminLTE/demo.js', type='text/javascript')
	// jQuery Knob
	script(src='/js/plugins/jqueryKnob/jquery.knob.js', type='text/javascript')
	// Sparkline
	script(src='/js/plugins/sparkline/jquery.sparkline.min.js', type='text/javascript')
	// page script
	script(src='/js/AdminLTE/charts/inline.js', type='text/javascript')