extends ../layout
block content
	// Content Header (Page header)
	section.content-header
		h1
			| Icons
			small a set of beautiful icons
		ol.breadcrumb
			li
				a(href='#')
					i.fa.fa-dashboard
					| Home
			li
				a(href='#') UI
			li.active Icons
	// Main content
	section.content
		.row
			.col-xs-12
				.nav-tabs-custom
					ul.nav.nav-tabs
						li.active
							a(href='#fa-icons', data-toggle='tab') Font Awesome
						li
							a(href='#glyphicons', data-toggle='tab') Glyphicons
					.tab-content
						// Font Awesome icons
						#fa-icons.tab-pane.active
							section#new
								h4.page-header 11 New Icons in 4.0
								.row.fontawesome-icon-list
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-rub
										| fa-rub
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-ruble
										| fa-ruble
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-rouble
										| fa-rouble
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-pagelines
										| fa-pagelines
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-stack-exchange
										| fa-stack-exchange
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrow-circle-o-right
										| fa-arrow-circle-o-right
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrow-circle-o-left
										| fa-arrow-circle-o-left
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-caret-square-o-left
										| fa-caret-square-o-left
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-toggle-left
										| fa-toggle-left
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-dot-circle-o
										| fa-dot-circle-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-wheelchair
										| fa-wheelchair
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-vimeo-square
										| fa-vimeo-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-try
										| fa-try
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-turkish-lira
										| fa-turkish-lira
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-plus-square-o
										| fa-plus-square-o
							section#web-application
								h4.page-header Web Application Icons
								.row.fontawesome-icon-list
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-adjust
										| fa-adjust
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-anchor
										| fa-anchor
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-archive
										| fa-archive
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrows
										| fa-arrows
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrows-h
										| fa-arrows-h
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrows-v
										| fa-arrows-v
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-asterisk
										| fa-asterisk
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-ban
										| fa-ban
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-bar-chart-o
										| fa-bar-chart-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-barcode
										| fa-barcode
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-bars
										| fa-bars
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-beer
										| fa-beer
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-bell
										| fa-bell
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-bell-o
										| fa-bell-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-bolt
										| fa-bolt
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-book
										| fa-book
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-bookmark
										| fa-bookmark
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-bookmark-o
										| fa-bookmark-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-briefcase
										| fa-briefcase
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-bug
										| fa-bug
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-building-o
										| fa-building-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-bullhorn
										| fa-bullhorn
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-bullseye
										| fa-bullseye
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-calendar
										| fa-calendar
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-calendar-o
										| fa-calendar-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-camera
										| fa-camera
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-camera-retro
										| fa-camera-retro
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-caret-square-o-down
										| fa-caret-square-o-down
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-caret-square-o-left
										| fa-caret-square-o-left
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-caret-square-o-right
										| fa-caret-square-o-right
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-caret-square-o-up
										| fa-caret-square-o-up
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-certificate
										| fa-certificate
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-check
										| fa-check
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-check-circle
										| fa-check-circle
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-check-circle-o
										| fa-check-circle-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-check-square
										| fa-check-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-check-square-o
										| fa-check-square-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-circle
										| fa-circle
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-circle-o
										| fa-circle-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-clock-o
										| fa-clock-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-cloud
										| fa-cloud
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-cloud-download
										| fa-cloud-download
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-cloud-upload
										| fa-cloud-upload
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-code
										| fa-code
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-code-fork
										| fa-code-fork
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-coffee
										| fa-coffee
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-cog
										| fa-cog
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-cogs
										| fa-cogs
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-comment
										| fa-comment
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-comment-o
										| fa-comment-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-comments
										| fa-comments
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-comments-o
										| fa-comments-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-compass
										| fa-compass
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-credit-card
										| fa-credit-card
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-crop
										| fa-crop
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-crosshairs
										| fa-crosshairs
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-cutlery
										| fa-cutlery
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-dashboard
										| fa-dashboard
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-desktop
										| fa-desktop
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-dot-circle-o
										| fa-dot-circle-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-download
										| fa-download
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-edit
										| fa-edit
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-ellipsis-h
										| fa-ellipsis-h
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-ellipsis-v
										| fa-ellipsis-v
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-envelope
										| fa-envelope
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-envelope-o
										| fa-envelope-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-eraser
										| fa-eraser
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-exchange
										| fa-exchange
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-exclamation
										| fa-exclamation
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-exclamation-circle
										| fa-exclamation-circle
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-exclamation-triangle
										| fa-exclamation-triangle
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-external-link
										| fa-external-link
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-external-link-square
										| fa-external-link-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-eye
										| fa-eye
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-eye-slash
										| fa-eye-slash
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-female
										| fa-female
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-fighter-jet
										| fa-fighter-jet
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-film
										| fa-film
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-filter
										| fa-filter
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-fire
										| fa-fire
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-fire-extinguisher
										| fa-fire-extinguisher
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-flag
										| fa-flag
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-flag-checkered
										| fa-flag-checkered
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-flag-o
										| fa-flag-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-flash
										| fa-flash
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-flask
										| fa-flask
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-folder
										| fa-folder
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-folder-o
										| fa-folder-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-folder-open
										| fa-folder-open
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-folder-open-o
										| fa-folder-open-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-frown-o
										| fa-frown-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-gamepad
										| fa-gamepad
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-gavel
										| fa-gavel
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-gear
										| fa-gear
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-gears
										| fa-gears
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-gift
										| fa-gift
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-glass
										| fa-glass
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-globe
										| fa-globe
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-group
										| fa-group
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-hdd-o
										| fa-hdd-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-headphones
										| fa-headphones
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-heart
										| fa-heart
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-heart-o
										| fa-heart-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-home
										| fa-home
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-inbox
										| fa-inbox
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-info
										| fa-info
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-info-circle
										| fa-info-circle
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-key
										| fa-key
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-keyboard-o
										| fa-keyboard-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-laptop
										| fa-laptop
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-leaf
										| fa-leaf
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-legal
										| fa-legal
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-lemon-o
										| fa-lemon-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-level-down
										| fa-level-down
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-level-up
										| fa-level-up
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-lightbulb-o
										| fa-lightbulb-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-location-arrow
										| fa-location-arrow
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-lock
										| fa-lock
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-magic
										| fa-magic
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-magnet
										| fa-magnet
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-mail-forward
										| fa-mail-forward
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-mail-reply
										| fa-mail-reply
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-mail-reply-all
										| fa-mail-reply-all
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-male
										| fa-male
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-map-marker
										| fa-map-marker
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-meh-o
										| fa-meh-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-microphone
										| fa-microphone
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-microphone-slash
										| fa-microphone-slash
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-minus
										| fa-minus
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-minus-circle
										| fa-minus-circle
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-minus-square
										| fa-minus-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-minus-square-o
										| fa-minus-square-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-mobile
										| fa-mobile
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-mobile-phone
										| fa-mobile-phone
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-money
										| fa-money
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-moon-o
										| fa-moon-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-music
										| fa-music
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-pencil
										| fa-pencil
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-pencil-square
										| fa-pencil-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-pencil-square-o
										| fa-pencil-square-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-phone
										| fa-phone
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-phone-square
										| fa-phone-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-picture-o
										| fa-picture-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-plane
										| fa-plane
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-plus
										| fa-plus
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-plus-circle
										| fa-plus-circle
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-plus-square
										| fa-plus-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-plus-square-o
										| fa-plus-square-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-power-off
										| fa-power-off
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-print
										| fa-print
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-puzzle-piece
										| fa-puzzle-piece
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-qrcode
										| fa-qrcode
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-question
										| fa-question
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-question-circle
										| fa-question-circle
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-quote-left
										| fa-quote-left
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-quote-right
										| fa-quote-right
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-random
										| fa-random
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-refresh
										| fa-refresh
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-reply
										| fa-reply
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-reply-all
										| fa-reply-all
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-retweet
										| fa-retweet
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-road
										| fa-road
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-rocket
										| fa-rocket
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-rss
										| fa-rss
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-rss-square
										| fa-rss-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-search
										| fa-search
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-search-minus
										| fa-search-minus
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-search-plus
										| fa-search-plus
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-share
										| fa-share
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-share-square
										| fa-share-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-share-square-o
										| fa-share-square-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-shield
										| fa-shield
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-shopping-cart
										| fa-shopping-cart
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-sign-in
										| fa-sign-in
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-sign-out
										| fa-sign-out
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-signal
										| fa-signal
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-sitemap
										| fa-sitemap
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-smile-o
										| fa-smile-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-sort
										| fa-sort
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-sort-alpha-asc
										| fa-sort-alpha-asc
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-sort-alpha-desc
										| fa-sort-alpha-desc
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-sort-amount-asc
										| fa-sort-amount-asc
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-sort-amount-desc
										| fa-sort-amount-desc
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-sort-asc
										| fa-sort-asc
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-sort-desc
										| fa-sort-desc
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-sort-down
										| fa-sort-down
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-sort-numeric-asc
										| fa-sort-numeric-asc
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-sort-numeric-desc
										| fa-sort-numeric-desc
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-sort-up
										| fa-sort-up
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-spinner
										| fa-spinner
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-square
										| fa-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-square-o
										| fa-square-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-star
										| fa-star
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-star-half
										| fa-star-half
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-star-half-empty
										| fa-star-half-empty
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-star-half-full
										| fa-star-half-full
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-star-half-o
										| fa-star-half-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-star-o
										| fa-star-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-subscript
										| fa-subscript
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-suitcase
										| fa-suitcase
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-sun-o
										| fa-sun-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-superscript
										| fa-superscript
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-tablet
										| fa-tablet
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-tachometer
										| fa-tachometer
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-tag
										| fa-tag
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-tags
										| fa-tags
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-tasks
										| fa-tasks
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-terminal
										| fa-terminal
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-thumb-tack
										| fa-thumb-tack
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-thumbs-down
										| fa-thumbs-down
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-thumbs-o-down
										| fa-thumbs-o-down
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-thumbs-o-up
										| fa-thumbs-o-up
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-thumbs-up
										| fa-thumbs-up
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-ticket
										| fa-ticket
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-times
										| fa-times
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-times-circle
										| fa-times-circle
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-times-circle-o
										| fa-times-circle-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-tint
										| fa-tint
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-toggle-down
										| fa-toggle-down
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-toggle-left
										| fa-toggle-left
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-toggle-right
										| fa-toggle-right
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-toggle-up
										| fa-toggle-up
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-trash-o
										| fa-trash-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-trophy
										| fa-trophy
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-truck
										| fa-truck
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-umbrella
										| fa-umbrella
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-unlock
										| fa-unlock
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-unlock-alt
										| fa-unlock-alt
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-unsorted
										| fa-unsorted
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-upload
										| fa-upload
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-user
										| fa-user
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-users
										| fa-users
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-video-camera
										| fa-video-camera
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-volume-down
										| fa-volume-down
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-volume-off
										| fa-volume-off
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-volume-up
										| fa-volume-up
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-warning
										| fa-warning
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-wheelchair
										| fa-wheelchair
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-wrench
										| fa-wrench
							section#form-control
								h4.page-header Form Control Icons
								.row.fontawesome-icon-list
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-check-square
										| fa-check-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-check-square-o
										| fa-check-square-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-circle
										| fa-circle
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-circle-o
										| fa-circle-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-dot-circle-o
										| fa-dot-circle-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-minus-square
										| fa-minus-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-minus-square-o
										| fa-minus-square-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-plus-square
										| fa-plus-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-plus-square-o
										| fa-plus-square-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-square
										| fa-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-square-o
										| fa-square-o
							section#currency
								h4.page-header Currency Icons
								.row.fontawesome-icon-list
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-bitcoin
										| fa-bitcoin
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-btc
										| fa-btc
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-cny
										| fa-cny
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-dollar
										| fa-dollar
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-eur
										| fa-eur
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-euro
										| fa-euro
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-gbp
										| fa-gbp
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-inr
										| fa-inr
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-jpy
										| fa-jpy
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-krw
										| fa-krw
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-money
										| fa-money
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-rmb
										| fa-rmb
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-rouble
										| fa-rouble
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-rub
										| fa-rub
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-ruble
										| fa-ruble
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-rupee
										| fa-rupee
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-try
										| fa-try
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-turkish-lira
										| fa-turkish-lira
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-usd
										| fa-usd
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-won
										| fa-won
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-yen
										| fa-yen
										span.text-muted (alias)
							section#text-editor
								h4.page-header Text Editor Icons
								.row.fontawesome-icon-list
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-align-center
										| fa-align-center
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-align-justify
										| fa-align-justify
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-align-left
										| fa-align-left
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-align-right
										| fa-align-right
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-bold
										| fa-bold
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-chain
										| fa-chain
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-chain-broken
										| fa-chain-broken
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-clipboard
										| fa-clipboard
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-columns
										| fa-columns
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-copy
										| fa-copy
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-cut
										| fa-cut
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-dedent
										| fa-dedent
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-eraser
										| fa-eraser
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-file
										| fa-file
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-file-o
										| fa-file-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-file-text
										| fa-file-text
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-file-text-o
										| fa-file-text-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-files-o
										| fa-files-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-floppy-o
										| fa-floppy-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-font
										| fa-font
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-indent
										| fa-indent
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-italic
										| fa-italic
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-link
										| fa-link
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-list
										| fa-list
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-list-alt
										| fa-list-alt
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-list-ol
										| fa-list-ol
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-list-ul
										| fa-list-ul
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-outdent
										| fa-outdent
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-paperclip
										| fa-paperclip
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-paste
										| fa-paste
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-repeat
										| fa-repeat
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-rotate-left
										| fa-rotate-left
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-rotate-right
										| fa-rotate-right
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-save
										| fa-save
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-scissors
										| fa-scissors
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-strikethrough
										| fa-strikethrough
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-table
										| fa-table
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-text-height
										| fa-text-height
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-text-width
										| fa-text-width
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-th
										| fa-th
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-th-large
										| fa-th-large
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-th-list
										| fa-th-list
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-underline
										| fa-underline
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-undo
										| fa-undo
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-unlink
										| fa-unlink
										span.text-muted (alias)
							section#directional
								h4.page-header Directional Icons
								.row.fontawesome-icon-list
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-angle-double-down
										| fa-angle-double-down
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-angle-double-left
										| fa-angle-double-left
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-angle-double-right
										| fa-angle-double-right
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-angle-double-up
										| fa-angle-double-up
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-angle-down
										| fa-angle-down
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-angle-left
										| fa-angle-left
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-angle-right
										| fa-angle-right
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-angle-up
										| fa-angle-up
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrow-circle-down
										| fa-arrow-circle-down
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrow-circle-left
										| fa-arrow-circle-left
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrow-circle-o-down
										| fa-arrow-circle-o-down
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrow-circle-o-left
										| fa-arrow-circle-o-left
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrow-circle-o-right
										| fa-arrow-circle-o-right
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrow-circle-o-up
										| fa-arrow-circle-o-up
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrow-circle-right
										| fa-arrow-circle-right
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrow-circle-up
										| fa-arrow-circle-up
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrow-down
										| fa-arrow-down
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrow-left
										| fa-arrow-left
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrow-right
										| fa-arrow-right
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrow-up
										| fa-arrow-up
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrows
										| fa-arrows
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrows-alt
										| fa-arrows-alt
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrows-h
										| fa-arrows-h
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrows-v
										| fa-arrows-v
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-caret-down
										| fa-caret-down
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-caret-left
										| fa-caret-left
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-caret-right
										| fa-caret-right
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-caret-square-o-down
										| fa-caret-square-o-down
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-caret-square-o-left
										| fa-caret-square-o-left
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-caret-square-o-right
										| fa-caret-square-o-right
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-caret-square-o-up
										| fa-caret-square-o-up
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-caret-up
										| fa-caret-up
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-chevron-circle-down
										| fa-chevron-circle-down
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-chevron-circle-left
										| fa-chevron-circle-left
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-chevron-circle-right
										| fa-chevron-circle-right
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-chevron-circle-up
										| fa-chevron-circle-up
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-chevron-down
										| fa-chevron-down
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-chevron-left
										| fa-chevron-left
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-chevron-right
										| fa-chevron-right
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-chevron-up
										| fa-chevron-up
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-hand-o-down
										| fa-hand-o-down
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-hand-o-left
										| fa-hand-o-left
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-hand-o-right
										| fa-hand-o-right
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-hand-o-up
										| fa-hand-o-up
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-long-arrow-down
										| fa-long-arrow-down
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-long-arrow-left
										| fa-long-arrow-left
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-long-arrow-right
										| fa-long-arrow-right
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-long-arrow-up
										| fa-long-arrow-up
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-toggle-down
										| fa-toggle-down
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-toggle-left
										| fa-toggle-left
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-toggle-right
										| fa-toggle-right
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-toggle-up
										| fa-toggle-up
										span.text-muted (alias)
							section#video-player
								h4.page-header Video Player Icons
								.row.fontawesome-icon-list
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-arrows-alt
										| fa-arrows-alt
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-backward
										| fa-backward
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-compress
										| fa-compress
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-eject
										| fa-eject
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-expand
										| fa-expand
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-fast-backward
										| fa-fast-backward
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-fast-forward
										| fa-fast-forward
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-forward
										| fa-forward
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-pause
										| fa-pause
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-play
										| fa-play
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-play-circle
										| fa-play-circle
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-play-circle-o
										| fa-play-circle-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-step-backward
										| fa-step-backward
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-step-forward
										| fa-step-forward
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-stop
										| fa-stop
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-youtube-play
										| fa-youtube-play
							section#brand
								h4.page-header Brand Icons
								.alert.alert-info
									ul.margin-bottom-none.padding-left-lg
										li All brand icons are trademarks of their respective owners.
										li
											| The use of these trademarks does not indicate endorsement of the trademark holder by Font Awesome, nor vice versa.
								.row.fontawesome-icon-list
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-adn
										| fa-adn
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-android
										| fa-android
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-apple
										| fa-apple
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-bitbucket
										| fa-bitbucket
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-bitbucket-square
										| fa-bitbucket-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-bitcoin
										| fa-bitcoin
										span.text-muted (alias)
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-btc
										| fa-btc
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-css3
										| fa-css3
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-dribbble
										| fa-dribbble
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-dropbox
										| fa-dropbox
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-facebook
										| fa-facebook
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-facebook-square
										| fa-facebook-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-flickr
										| fa-flickr
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-foursquare
										| fa-foursquare
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-github
										| fa-github
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-github-alt
										| fa-github-alt
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-github-square
										| fa-github-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-gittip
										| fa-gittip
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-google-plus
										| fa-google-plus
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-google-plus-square
										| fa-google-plus-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-html5
										| fa-html5
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-instagram
										| fa-instagram
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-linkedin
										| fa-linkedin
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-linkedin-square
										| fa-linkedin-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-linux
										| fa-linux
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-maxcdn
										| fa-maxcdn
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-pagelines
										| fa-pagelines
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-pinterest
										| fa-pinterest
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-pinterest-square
										| fa-pinterest-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-renren
										| fa-renren
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-skype
										| fa-skype
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-stack-exchange
										| fa-stack-exchange
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-stack-overflow
										| fa-stack-overflow
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-trello
										| fa-trello
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-tumblr
										| fa-tumblr
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-tumblr-square
										| fa-tumblr-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-twitter
										| fa-twitter
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-twitter-square
										| fa-twitter-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-vimeo-square
										| fa-vimeo-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-vk
										| fa-vk
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-weibo
										| fa-weibo
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-windows
										| fa-windows
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-xing
										| fa-xing
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-xing-square
										| fa-xing-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-youtube
										| fa-youtube
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-youtube-play
										| fa-youtube-play
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-youtube-square
										| fa-youtube-square
							section#medical
								h4.page-header Medical Icons
								.row
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-ambulance
										| fa-ambulance
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-h-square
										| fa-h-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-hospital-o
										| fa-hospital-o
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-medkit
										| fa-medkit
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-plus-square
										| fa-plus-square
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-stethoscope
										| fa-stethoscope
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-user-md
										| fa-user-md
									.col-md-3.col-sm-4
										i.fa.fa-fw.fa-wheelchair
										| fa-wheelchair
						// /#fa-icons
						// glyphicons
						#glyphicons.tab-pane
							ul.bs-glyphicons
								li
									span.glyphicon.glyphicon-adjust
									span.glyphicon-class glyphicon glyphicon-adjust
								li
									span.glyphicon.glyphicon-align-center
									span.glyphicon-class glyphicon glyphicon-align-center
								li
									span.glyphicon.glyphicon-align-justify
									span.glyphicon-class glyphicon glyphicon-align-justify
								li
									span.glyphicon.glyphicon-align-left
									span.glyphicon-class glyphicon glyphicon-align-left
								li
									span.glyphicon.glyphicon-align-right
									span.glyphicon-class glyphicon glyphicon-align-right
								li
									span.glyphicon.glyphicon-arrow-down
									span.glyphicon-class glyphicon glyphicon-arrow-down
								li
									span.glyphicon.glyphicon-arrow-left
									span.glyphicon-class glyphicon glyphicon-arrow-left
								li
									span.glyphicon.glyphicon-arrow-right
									span.glyphicon-class glyphicon glyphicon-arrow-right
								li
									span.glyphicon.glyphicon-arrow-up
									span.glyphicon-class glyphicon glyphicon-arrow-up
								li
									span.glyphicon.glyphicon-asterisk
									span.glyphicon-class glyphicon glyphicon-asterisk
								li
									span.glyphicon.glyphicon-backward
									span.glyphicon-class glyphicon glyphicon-backward
								li
									span.glyphicon.glyphicon-ban-circle
									span.glyphicon-class glyphicon glyphicon-ban-circle
								li
									span.glyphicon.glyphicon-barcode
									span.glyphicon-class glyphicon glyphicon-barcode
								li
									span.glyphicon.glyphicon-bell
									span.glyphicon-class glyphicon glyphicon-bell
								li
									span.glyphicon.glyphicon-bold
									span.glyphicon-class glyphicon glyphicon-bold
								li
									span.glyphicon.glyphicon-book
									span.glyphicon-class glyphicon glyphicon-book
								li
									span.glyphicon.glyphicon-bookmark
									span.glyphicon-class glyphicon glyphicon-bookmark
								li
									span.glyphicon.glyphicon-briefcase
									span.glyphicon-class glyphicon glyphicon-briefcase
								li
									span.glyphicon.glyphicon-bullhorn
									span.glyphicon-class glyphicon glyphicon-bullhorn
								li
									span.glyphicon.glyphicon-calendar
									span.glyphicon-class glyphicon glyphicon-calendar
								li
									span.glyphicon.glyphicon-camera
									span.glyphicon-class glyphicon glyphicon-camera
								li
									span.glyphicon.glyphicon-certificate
									span.glyphicon-class glyphicon glyphicon-certificate
								li
									span.glyphicon.glyphicon-check
									span.glyphicon-class glyphicon glyphicon-check
								li
									span.glyphicon.glyphicon-chevron-down
									span.glyphicon-class glyphicon glyphicon-chevron-down
								li
									span.glyphicon.glyphicon-chevron-left
									span.glyphicon-class glyphicon glyphicon-chevron-left
								li
									span.glyphicon.glyphicon-chevron-right
									span.glyphicon-class glyphicon glyphicon-chevron-right
								li
									span.glyphicon.glyphicon-chevron-up
									span.glyphicon-class glyphicon glyphicon-chevron-up
								li
									span.glyphicon.glyphicon-circle-arrow-down
									span.glyphicon-class glyphicon glyphicon-circle-arrow-down
								li
									span.glyphicon.glyphicon-circle-arrow-left
									span.glyphicon-class glyphicon glyphicon-circle-arrow-left
								li
									span.glyphicon.glyphicon-circle-arrow-right
									span.glyphicon-class glyphicon glyphicon-circle-arrow-right
								li
									span.glyphicon.glyphicon-circle-arrow-up
									span.glyphicon-class glyphicon glyphicon-circle-arrow-up
								li
									span.glyphicon.glyphicon-cloud
									span.glyphicon-class glyphicon glyphicon-cloud
								li
									span.glyphicon.glyphicon-cloud-download
									span.glyphicon-class glyphicon glyphicon-cloud-download
								li
									span.glyphicon.glyphicon-cloud-upload
									span.glyphicon-class glyphicon glyphicon-cloud-upload
								li
									span.glyphicon.glyphicon-cog
									span.glyphicon-class glyphicon glyphicon-cog
								li
									span.glyphicon.glyphicon-collapse-down
									span.glyphicon-class glyphicon glyphicon-collapse-down
								li
									span.glyphicon.glyphicon-collapse-up
									span.glyphicon-class glyphicon glyphicon-collapse-up
								li
									span.glyphicon.glyphicon-comment
									span.glyphicon-class glyphicon glyphicon-comment
								li
									span.glyphicon.glyphicon-compressed
									span.glyphicon-class glyphicon glyphicon-compressed
								li
									span.glyphicon.glyphicon-copyright-mark
									span.glyphicon-class glyphicon glyphicon-copyright-mark
								li
									span.glyphicon.glyphicon-credit-card
									span.glyphicon-class glyphicon glyphicon-credit-card
								li
									span.glyphicon.glyphicon-cutlery
									span.glyphicon-class glyphicon glyphicon-cutlery
								li
									span.glyphicon.glyphicon-dashboard
									span.glyphicon-class glyphicon glyphicon-dashboard
								li
									span.glyphicon.glyphicon-download
									span.glyphicon-class glyphicon glyphicon-download
								li
									span.glyphicon.glyphicon-download-alt
									span.glyphicon-class glyphicon glyphicon-download-alt
								li
									span.glyphicon.glyphicon-earphone
									span.glyphicon-class glyphicon glyphicon-earphone
								li
									span.glyphicon.glyphicon-edit
									span.glyphicon-class glyphicon glyphicon-edit
								li
									span.glyphicon.glyphicon-eject
									span.glyphicon-class glyphicon glyphicon-eject
								li
									span.glyphicon.glyphicon-envelope
									span.glyphicon-class glyphicon glyphicon-envelope
								li
									span.glyphicon.glyphicon-euro
									span.glyphicon-class glyphicon glyphicon-euro
								li
									span.glyphicon.glyphicon-exclamation-sign
									span.glyphicon-class glyphicon glyphicon-exclamation-sign
								li
									span.glyphicon.glyphicon-expand
									span.glyphicon-class glyphicon glyphicon-expand
								li
									span.glyphicon.glyphicon-export
									span.glyphicon-class glyphicon glyphicon-export
								li
									span.glyphicon.glyphicon-eye-close
									span.glyphicon-class glyphicon glyphicon-eye-close
								li
									span.glyphicon.glyphicon-eye-open
									span.glyphicon-class glyphicon glyphicon-eye-open
								li
									span.glyphicon.glyphicon-facetime-video
									span.glyphicon-class glyphicon glyphicon-facetime-video
								li
									span.glyphicon.glyphicon-fast-backward
									span.glyphicon-class glyphicon glyphicon-fast-backward
								li
									span.glyphicon.glyphicon-fast-forward
									span.glyphicon-class glyphicon glyphicon-fast-forward
								li
									span.glyphicon.glyphicon-file
									span.glyphicon-class glyphicon glyphicon-file
								li
									span.glyphicon.glyphicon-film
									span.glyphicon-class glyphicon glyphicon-film
								li
									span.glyphicon.glyphicon-filter
									span.glyphicon-class glyphicon glyphicon-filter
								li
									span.glyphicon.glyphicon-fire
									span.glyphicon-class glyphicon glyphicon-fire
								li
									span.glyphicon.glyphicon-flag
									span.glyphicon-class glyphicon glyphicon-flag
								li
									span.glyphicon.glyphicon-flash
									span.glyphicon-class glyphicon glyphicon-flash
								li
									span.glyphicon.glyphicon-floppy-disk
									span.glyphicon-class glyphicon glyphicon-floppy-disk
								li
									span.glyphicon.glyphicon-floppy-open
									span.glyphicon-class glyphicon glyphicon-floppy-open
								li
									span.glyphicon.glyphicon-floppy-remove
									span.glyphicon-class glyphicon glyphicon-floppy-remove
								li
									span.glyphicon.glyphicon-floppy-save
									span.glyphicon-class glyphicon glyphicon-floppy-save
								li
									span.glyphicon.glyphicon-floppy-saved
									span.glyphicon-class glyphicon glyphicon-floppy-saved
								li
									span.glyphicon.glyphicon-folder-close
									span.glyphicon-class glyphicon glyphicon-folder-close
								li
									span.glyphicon.glyphicon-folder-open
									span.glyphicon-class glyphicon glyphicon-folder-open
								li
									span.glyphicon.glyphicon-font
									span.glyphicon-class glyphicon glyphicon-font
								li
									span.glyphicon.glyphicon-forward
									span.glyphicon-class glyphicon glyphicon-forward
								li
									span.glyphicon.glyphicon-fullscreen
									span.glyphicon-class glyphicon glyphicon-fullscreen
								li
									span.glyphicon.glyphicon-gbp
									span.glyphicon-class glyphicon glyphicon-gbp
								li
									span.glyphicon.glyphicon-gift
									span.glyphicon-class glyphicon glyphicon-gift
								li
									span.glyphicon.glyphicon-glass
									span.glyphicon-class glyphicon glyphicon-glass
								li
									span.glyphicon.glyphicon-globe
									span.glyphicon-class glyphicon glyphicon-globe
								li
									span.glyphicon.glyphicon-hand-down
									span.glyphicon-class glyphicon glyphicon-hand-down
								li
									span.glyphicon.glyphicon-hand-left
									span.glyphicon-class glyphicon glyphicon-hand-left
								li
									span.glyphicon.glyphicon-hand-right
									span.glyphicon-class glyphicon glyphicon-hand-right
								li
									span.glyphicon.glyphicon-hand-up
									span.glyphicon-class glyphicon glyphicon-hand-up
								li
									span.glyphicon.glyphicon-hd-video
									span.glyphicon-class glyphicon glyphicon-hd-video
								li
									span.glyphicon.glyphicon-hdd
									span.glyphicon-class glyphicon glyphicon-hdd
								li
									span.glyphicon.glyphicon-header
									span.glyphicon-class glyphicon glyphicon-header
								li
									span.glyphicon.glyphicon-headphones
									span.glyphicon-class glyphicon glyphicon-headphones
								li
									span.glyphicon.glyphicon-heart
									span.glyphicon-class glyphicon glyphicon-heart
								li
									span.glyphicon.glyphicon-heart-empty
									span.glyphicon-class glyphicon glyphicon-heart-empty
								li
									span.glyphicon.glyphicon-home
									span.glyphicon-class glyphicon glyphicon-home
								li
									span.glyphicon.glyphicon-import
									span.glyphicon-class glyphicon glyphicon-import
								li
									span.glyphicon.glyphicon-inbox
									span.glyphicon-class glyphicon glyphicon-inbox
								li
									span.glyphicon.glyphicon-indent-left
									span.glyphicon-class glyphicon glyphicon-indent-left
								li
									span.glyphicon.glyphicon-indent-right
									span.glyphicon-class glyphicon glyphicon-indent-right
								li
									span.glyphicon.glyphicon-info-sign
									span.glyphicon-class glyphicon glyphicon-info-sign
								li
									span.glyphicon.glyphicon-italic
									span.glyphicon-class glyphicon glyphicon-italic
								li
									span.glyphicon.glyphicon-leaf
									span.glyphicon-class glyphicon glyphicon-leaf
								li
									span.glyphicon.glyphicon-link
									span.glyphicon-class glyphicon glyphicon-link
								li
									span.glyphicon.glyphicon-list
									span.glyphicon-class glyphicon glyphicon-list
								li
									span.glyphicon.glyphicon-list-alt
									span.glyphicon-class glyphicon glyphicon-list-alt
								li
									span.glyphicon.glyphicon-lock
									span.glyphicon-class glyphicon glyphicon-lock
								li
									span.glyphicon.glyphicon-log-in
									span.glyphicon-class glyphicon glyphicon-log-in
								li
									span.glyphicon.glyphicon-log-out
									span.glyphicon-class glyphicon glyphicon-log-out
								li
									span.glyphicon.glyphicon-magnet
									span.glyphicon-class glyphicon glyphicon-magnet
								li
									span.glyphicon.glyphicon-map-marker
									span.glyphicon-class glyphicon glyphicon-map-marker
								li
									span.glyphicon.glyphicon-minus
									span.glyphicon-class glyphicon glyphicon-minus
								li
									span.glyphicon.glyphicon-minus-sign
									span.glyphicon-class glyphicon glyphicon-minus-sign
								li
									span.glyphicon.glyphicon-move
									span.glyphicon-class glyphicon glyphicon-move
								li
									span.glyphicon.glyphicon-music
									span.glyphicon-class glyphicon glyphicon-music
								li
									span.glyphicon.glyphicon-new-window
									span.glyphicon-class glyphicon glyphicon-new-window
								li
									span.glyphicon.glyphicon-off
									span.glyphicon-class glyphicon glyphicon-off
								li
									span.glyphicon.glyphicon-ok
									span.glyphicon-class glyphicon glyphicon-ok
								li
									span.glyphicon.glyphicon-ok-circle
									span.glyphicon-class glyphicon glyphicon-ok-circle
								li
									span.glyphicon.glyphicon-ok-sign
									span.glyphicon-class glyphicon glyphicon-ok-sign
								li
									span.glyphicon.glyphicon-open
									span.glyphicon-class glyphicon glyphicon-open
								li
									span.glyphicon.glyphicon-paperclip
									span.glyphicon-class glyphicon glyphicon-paperclip
								li
									span.glyphicon.glyphicon-pause
									span.glyphicon-class glyphicon glyphicon-pause
								li
									span.glyphicon.glyphicon-pencil
									span.glyphicon-class glyphicon glyphicon-pencil
								li
									span.glyphicon.glyphicon-phone
									span.glyphicon-class glyphicon glyphicon-phone
								li
									span.glyphicon.glyphicon-phone-alt
									span.glyphicon-class glyphicon glyphicon-phone-alt
								li
									span.glyphicon.glyphicon-picture
									span.glyphicon-class glyphicon glyphicon-picture
								li
									span.glyphicon.glyphicon-plane
									span.glyphicon-class glyphicon glyphicon-plane
								li
									span.glyphicon.glyphicon-play
									span.glyphicon-class glyphicon glyphicon-play
								li
									span.glyphicon.glyphicon-play-circle
									span.glyphicon-class glyphicon glyphicon-play-circle
								li
									span.glyphicon.glyphicon-plus
									span.glyphicon-class glyphicon glyphicon-plus
								li
									span.glyphicon.glyphicon-plus-sign
									span.glyphicon-class glyphicon glyphicon-plus-sign
								li
									span.glyphicon.glyphicon-print
									span.glyphicon-class glyphicon glyphicon-print
								li
									span.glyphicon.glyphicon-pushpin
									span.glyphicon-class glyphicon glyphicon-pushpin
								li
									span.glyphicon.glyphicon-qrcode
									span.glyphicon-class glyphicon glyphicon-qrcode
								li
									span.glyphicon.glyphicon-question-sign
									span.glyphicon-class glyphicon glyphicon-question-sign
								li
									span.glyphicon.glyphicon-random
									span.glyphicon-class glyphicon glyphicon-random
								li
									span.glyphicon.glyphicon-record
									span.glyphicon-class glyphicon glyphicon-record
								li
									span.glyphicon.glyphicon-refresh
									span.glyphicon-class glyphicon glyphicon-refresh
								li
									span.glyphicon.glyphicon-registration-mark
									span.glyphicon-class glyphicon glyphicon-registration-mark
								li
									span.glyphicon.glyphicon-remove
									span.glyphicon-class glyphicon glyphicon-remove
								li
									span.glyphicon.glyphicon-remove-circle
									span.glyphicon-class glyphicon glyphicon-remove-circle
								li
									span.glyphicon.glyphicon-remove-sign
									span.glyphicon-class glyphicon glyphicon-remove-sign
								li
									span.glyphicon.glyphicon-repeat
									span.glyphicon-class glyphicon glyphicon-repeat
								li
									span.glyphicon.glyphicon-resize-full
									span.glyphicon-class glyphicon glyphicon-resize-full
								li
									span.glyphicon.glyphicon-resize-horizontal
									span.glyphicon-class glyphicon glyphicon-resize-horizontal
								li
									span.glyphicon.glyphicon-resize-small
									span.glyphicon-class glyphicon glyphicon-resize-small
								li
									span.glyphicon.glyphicon-resize-vertical
									span.glyphicon-class glyphicon glyphicon-resize-vertical
								li
									span.glyphicon.glyphicon-retweet
									span.glyphicon-class glyphicon glyphicon-retweet
								li
									span.glyphicon.glyphicon-road
									span.glyphicon-class glyphicon glyphicon-road
								li
									span.glyphicon.glyphicon-save
									span.glyphicon-class glyphicon glyphicon-save
								li
									span.glyphicon.glyphicon-saved
									span.glyphicon-class glyphicon glyphicon-saved
								li
									span.glyphicon.glyphicon-screenshot
									span.glyphicon-class glyphicon glyphicon-screenshot
								li
									span.glyphicon.glyphicon-sd-video
									span.glyphicon-class glyphicon glyphicon-sd-video
								li
									span.glyphicon.glyphicon-search
									span.glyphicon-class glyphicon glyphicon-search
								li
									span.glyphicon.glyphicon-send
									span.glyphicon-class glyphicon glyphicon-send
								li
									span.glyphicon.glyphicon-share
									span.glyphicon-class glyphicon glyphicon-share
								li
									span.glyphicon.glyphicon-share-alt
									span.glyphicon-class glyphicon glyphicon-share-alt
								li
									span.glyphicon.glyphicon-shopping-cart
									span.glyphicon-class glyphicon glyphicon-shopping-cart
								li
									span.glyphicon.glyphicon-signal
									span.glyphicon-class glyphicon glyphicon-signal
								li
									span.glyphicon.glyphicon-sort
									span.glyphicon-class glyphicon glyphicon-sort
								li
									span.glyphicon.glyphicon-sort-by-alphabet
									span.glyphicon-class glyphicon glyphicon-sort-by-alphabet
								li
									span.glyphicon.glyphicon-sort-by-alphabet-alt
									span.glyphicon-class glyphicon glyphicon-sort-by-alphabet-alt
								li
									span.glyphicon.glyphicon-sort-by-attributes
									span.glyphicon-class glyphicon glyphicon-sort-by-attributes
								li
									span.glyphicon.glyphicon-sort-by-attributes-alt
									span.glyphicon-class glyphicon glyphicon-sort-by-attributes-alt
								li
									span.glyphicon.glyphicon-sort-by-order
									span.glyphicon-class glyphicon glyphicon-sort-by-order
								li
									span.glyphicon.glyphicon-sort-by-order-alt
									span.glyphicon-class glyphicon glyphicon-sort-by-order-alt
								li
									span.glyphicon.glyphicon-sound-5-1
									span.glyphicon-class glyphicon glyphicon-sound-5-1
								li
									span.glyphicon.glyphicon-sound-6-1
									span.glyphicon-class glyphicon glyphicon-sound-6-1
								li
									span.glyphicon.glyphicon-sound-7-1
									span.glyphicon-class glyphicon glyphicon-sound-7-1
								li
									span.glyphicon.glyphicon-sound-dolby
									span.glyphicon-class glyphicon glyphicon-sound-dolby
								li
									span.glyphicon.glyphicon-sound-stereo
									span.glyphicon-class glyphicon glyphicon-sound-stereo
								li
									span.glyphicon.glyphicon-star
									span.glyphicon-class glyphicon glyphicon-star
								li
									span.glyphicon.glyphicon-star-empty
									span.glyphicon-class glyphicon glyphicon-star-empty
								li
									span.glyphicon.glyphicon-stats
									span.glyphicon-class glyphicon glyphicon-stats
								li
									span.glyphicon.glyphicon-step-backward
									span.glyphicon-class glyphicon glyphicon-step-backward
								li
									span.glyphicon.glyphicon-step-forward
									span.glyphicon-class glyphicon glyphicon-step-forward
								li
									span.glyphicon.glyphicon-stop
									span.glyphicon-class glyphicon glyphicon-stop
								li
									span.glyphicon.glyphicon-subtitles
									span.glyphicon-class glyphicon glyphicon-subtitles
								li
									span.glyphicon.glyphicon-tag
									span.glyphicon-class glyphicon glyphicon-tag
								li
									span.glyphicon.glyphicon-tags
									span.glyphicon-class glyphicon glyphicon-tags
								li
									span.glyphicon.glyphicon-tasks
									span.glyphicon-class glyphicon glyphicon-tasks
								li
									span.glyphicon.glyphicon-text-height
									span.glyphicon-class glyphicon glyphicon-text-height
								li
									span.glyphicon.glyphicon-text-width
									span.glyphicon-class glyphicon glyphicon-text-width
								li
									span.glyphicon.glyphicon-th
									span.glyphicon-class glyphicon glyphicon-th
								li
									span.glyphicon.glyphicon-th-large
									span.glyphicon-class glyphicon glyphicon-th-large
								li
									span.glyphicon.glyphicon-th-list
									span.glyphicon-class glyphicon glyphicon-th-list
								li
									span.glyphicon.glyphicon-thumbs-down
									span.glyphicon-class glyphicon glyphicon-thumbs-down
								li
									span.glyphicon.glyphicon-thumbs-up
									span.glyphicon-class glyphicon glyphicon-thumbs-up
								li
									span.glyphicon.glyphicon-time
									span.glyphicon-class glyphicon glyphicon-time
								li
									span.glyphicon.glyphicon-tint
									span.glyphicon-class glyphicon glyphicon-tint
								li
									span.glyphicon.glyphicon-tower
									span.glyphicon-class glyphicon glyphicon-tower
								li
									span.glyphicon.glyphicon-transfer
									span.glyphicon-class glyphicon glyphicon-transfer
								li
									span.glyphicon.glyphicon-trash
									span.glyphicon-class glyphicon glyphicon-trash
								li
									span.glyphicon.glyphicon-tree-conifer
									span.glyphicon-class glyphicon glyphicon-tree-conifer
								li
									span.glyphicon.glyphicon-tree-deciduous
									span.glyphicon-class glyphicon glyphicon-tree-deciduous
								li
									span.glyphicon.glyphicon-unchecked
									span.glyphicon-class glyphicon glyphicon-unchecked
								li
									span.glyphicon.glyphicon-upload
									span.glyphicon-class glyphicon glyphicon-upload
								li
									span.glyphicon.glyphicon-usd
									span.glyphicon-class glyphicon glyphicon-usd
								li
									span.glyphicon.glyphicon-user
									span.glyphicon-class glyphicon glyphicon-user
								li
									span.glyphicon.glyphicon-volume-down
									span.glyphicon-class glyphicon glyphicon-volume-down
								li
									span.glyphicon.glyphicon-volume-off
									span.glyphicon-class glyphicon glyphicon-volume-off
								li
									span.glyphicon.glyphicon-volume-up
									span.glyphicon-class glyphicon glyphicon-volume-up
								li
									span.glyphicon.glyphicon-warning-sign
									span.glyphicon-class glyphicon glyphicon-warning-sign
								li
									span.glyphicon.glyphicon-wrench
									span.glyphicon-class glyphicon glyphicon-wrench
								li
									span.glyphicon.glyphicon-zoom-in
									span.glyphicon-class glyphicon glyphicon-zoom-in
								li
									span.glyphicon.glyphicon-zoom-out
									span.glyphicon-class glyphicon glyphicon-zoom-out
						// /#ion-icons
					// /.tab-content
				// /.nav-tabs-custom
			// /.col
		// /.row
	// /.content
block javascript
	// jQuery 2.0.2
	script(src='/js/libs/jquery.min.js')
	// Bootstrap
	script(src='/js/bootstrap.min.js', type='text/javascript')
	// AdminLTE App
	script(src='/js/AdminLTE/app.js', type='text/javascript')
	// AdminLTE for demo purposes
	script(src='/js/AdminLTE/demo.js', type='text/javascript')
