doctype html
html.bg-black
  head
    meta(charset='UTF-8')
    title AdminLTE | Log in
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // bootstrap 3.0.2
    link(href='../../css/bootstrap.min.css', rel='stylesheet', type='text/css')
    // font Awesome
    link(href='../../css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // Theme style
    link(href='../../css/AdminLTE.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
  body.bg-black
    #login-box.form-box
      .header Sign In
      form(action='../../index.html', method='post')
        .body.bg-gray
          .form-group
            input.form-control(type='text', name='userid', placeholder='User ID')
          .form-group
            input.form-control(type='password', name='password', placeholder='Password')
          .form-group
            input(type='checkbox', name='remember_me')
            | Remember me
        .footer
          button.btn.bg-olive.btn-block(type='submit') Sign me in
          p
            a(href='#') I forgot my password
          a.text-center(href='register.html') Register a new membership
      .margin.text-center
        span Sign in using social networks
        br
        button.btn.bg-light-blue.btn-circle
          i.fa.fa-facebook
        button.btn.bg-aqua.btn-circle
          i.fa.fa-twitter
        button.btn.bg-red.btn-circle
          i.fa.fa-google-plus
    // jQuery 2.0.2
    script(src='/js/libs/jquery.min.js')
    // Bootstrap
    script(src='../../js/bootstrap.min.js', type='text/javascript')
